@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --custom-height: 19.6vh;
  --triple-height: calc(var(--custom-height) * 3);
}

.big-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-color: rgb(13, 3, 66);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
